[defaults]
inventory = inventory/hosts.yml
roles_path = roles
collections_paths = collections

host_key_checking = False
retry_files_enabled = False
callback_result_format = yaml
callbacks_enabled = ansible.posix.profile_tasks
timeout = 60

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=300s -o ServerAliveInterval=15 -o ServerAliveCountMax=4

[paramiko_connection]
host_key_auto_add = True
